.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  overflow: hidden;
  background-color: black;
  color: white;
}

.imagem {
  position: absolute;
  left: 0;
  width: 45%;
  height: 100%;
  background-image: url('/folhas.jpeg');
  background-size: cover;
  background-position: center;
  transition: transform 0.5s ease;
}

.formContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  
}

.form {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease;
}

.formLogin {
  left: 50%; 
  opacity: 1;
  pointer-events: auto;
}

.formCadastro {
  left: 0; 
  opacity: 0;
  pointer-events: none;
  
}

.formCadastroActive .imagem {
  transform: translateX(122%); 
}

.formCadastroActive .formLogin {
  opacity: 0;
  pointer-events: none;
}

.formCadastroActive .formCadastro {
  opacity: 1;
  pointer-events: auto;
}
.galho{
  background-image: url('/galhos.png');
  width: 365px;
  height: 215px;
  background-size: cover;
  background-position: center;
  position: relative;
  right: 53px;
}
.alingGalho{
  width: 100%;
  height: 30%;
  display: flex;
  align-items:baseline;
  justify-content: baseline;
  margin-right: 60px;
}
.alingLogin{
  width: 50%;
  height: 70%;
  margin-top: 10px;
  display:flex ;
  align-items: baseline;
  justify-content: baseline;
  flex-direction: column;
}

.formCadastroActive .buttons{
right: 100%;
}
.containerButtons{
  width: 100%;
 display: flex;
 justify-content: end;
}
.buttons{
  background-color: rgba(197, 197, 197, 0.1);
  height: 40px;
  width: 300px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content:space-around;
}


.buttonSpace{
width: 50%;
height: 100%;
background-color: rgba(197, 197, 197, 0.1);
pointer-events: none;
}
.formCadastroActive .buttonSpace{
  background-color: rgba(0, 0, 0, 0.1);
  pointer-events: auto;
}
.formCadastroActive .buttonSpace:hover{
  background-color: rgba(197, 197, 197, 0.1);
}

.buttonSpace1{
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);

  }
.buttonSpace1:hover{
    transition: all 0.4s;
    background-color: rgba(197, 197, 197, 0.1);
  }
.formCadastroActive .buttonSpace1{
    background-color: rgba(197, 197, 197, 0.1);
    pointer-events: none;
    
  }
.formCadastroActive .containerButtons{
  justify-content:flex-start;
}